{% extends 'website/header.html' %}

{% block content %}

<script>

document.body.onload = function() {

    let next_no = 1;

    function makeThemRequired(form_elements) {
        form_elements[1].disabled=false;
        form_elements[2].disabled=false;
        form_elements[3].disabled=false;
        form_elements[4].disabled=false;
        form_elements[5].disabled=false;
        form_elements[1].required=true;
        form_elements[2].required=true;
        form_elements[3].required=true;
        form_elements[4].required=true;
        form_elements[5].required=true;
    }

    document.getElementById("add_next").onclick = function make_next_visible(e) {
        document.getElementById('form' + next_no).style.display = 'block';
        makeThemRequired(document.getElementById('form' + next_no).children);
        if (next_no === 5)
            e.currentTarget.disabled = true;
        else
            next_no += 1;
   };

   // Init by adding first product
   document.getElementById("add_next").click();
}
</script>

<form method="post">
    {% csrf_token %}
    <span class="contact100-form-title"> Co chcesz kupić? </span>
    {% for form in form_list %}
        <div style="display: none" id="form{{ forloop.counter }}">
            <span class="contact100-form-subtitle"> Produkt {{ forloop.counter }} </span>
            {{ form }}
            <br>
        </div>
    {% endfor %}
    <div class="container-contact100-form-btn">
        <button type="button" id="add_next" class="contact100-form-btn">
            <span>
                <i class="fa fa-paper-plane-o m-r-6"></i>
                Dodaj przedmiot
            </span>
        </button>
    </div>

    <div class="container-contact100-form-btn">
        <button type="submit" class="contact100-form-btn">
            <span>
                <i class="fa fa-paper-plane-o m-r-6"></i>
                Wyślij zapytanie
            </span>
        </button>
    </div>

</form>

{% endblock %}
