{% extends 'website/header.html' %}

{% block content %}
    {% for deal in deals %}
        <div id="form{{ forloop.counter }}">
            <span class="contact100-form-subtitle">Zestawienie {{ forloop.counter }}</span>
                {% for item, offer in deal.items_to_offers %}
                    <div class="row">
                        <div class="col-md-7">{{ item.prod_name }}</div>
                        <div class="col-md-3 text-right">{{ offer.name }}</div>
                        <div class="col-md-2 text-right">
                            <a href="https://www.ceneo.pl/{{ constants.Ceneo.URI }}{{ offer.url }}">
                                LINK
                            </a>
                        </div>
                    </div>
                {% endfor %}
                <div class="row">
                    <div class="col-md-9">Cena całkowita:</div>
                    <div class="col-md-3 text-right">{{ deal.calculate_price }}</div>
                </div>
            </table>
            <br>
        </div>
    {% endfor %}
{% endblock content %}